        <footer class="footer-main">
            <div class="footer-content">
                <p>© <%= new Date().getFullYear() %> Halozra. All Rights Reserved.</p>
            </div>
        </footer>
    </div>

</body>
</html>